<%- include('../template/header'); %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="card_headerCustom">
        <h1 class="landingTitle">IndusInd Bank Retail</h1>
            
        <div class="contentTxtBoxMainArea">
        <div class="customRow">
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Accounts</h2>
                    <p>Enjoy endless benefits and privileges on saving account programmes for you and your family with IndusInd Bank.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Loans</h2>
                    <p>Easy and flexible finance options for vehicles, ranging from two whilers, cars, commertial vehicles, earth movers to farm equipment.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Deposits</h2>
                    <p>Secure your money and watch it grow. Flexible tenures and attractive interest rates.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Cards</h2>
                    <p>IndusInd Bank's corporate card is designed to keep the organization's cost objectives in mind. With this primary objectives, our corporate cars can monitor & control employe expences in addition to making reconciliation hassle free.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
            
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Forex</h2>
                    <p>Why count currency when you can count experiences with a multi-currency Forex card.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Investments</h2>
                    <p>Get smart and plan ahead. Calculate monthly instalments, investments and more.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                    <h2 class="boxTitle">Insurance</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="#">Explore More</a></div>
            </div>	
        </div>
        <div class="contentTxtBox">
            <div class="contentTxtBoxSub">
                <div class="contentTxtBoxSub_TxtArea">
                <h2 class="boxTitleBilpay">Bill Payment</h2>
                <a href="#"><img src="/dist/img/logoBillPay.png" alt=""/></a>
                </div>
                <div class="contentTxtBoxSub_LinkArea"><a href="/fetch_bill">Pay Your Bill</a></div>
            </div>	
        </div>
        </div>
        </div>
            <br clear="all">

        </div>
    </div>
        <%- include('../template/footer'); %>